*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	text-align: left;
	display: inline-block;
	width: 100%;
	background-color: white;

}


.button {
	font-size: 30px;
	color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

a {
    background-color: #000000;
    text-align: center;
}
li#nav {
    float: left;
}
ul#nav {
	position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    text-align: center;
    width: 100%;
	max-height: 86px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #202020;
}

input{
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

input#ocean{
	background-color: rgb(58, 133, 198);
}
ul.a{
	list-style-type: circle;
	list-style-position: inside;
}
a.ReadMore{
	background-color: #fff;
}

#forest{
	background-color: rgb(29, 158, 70);
}

#others{
	background-color: rgb(141, 158, 29);
}

div#info{
	text-indent: 30px;
}


div img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

img.header{
	width:100%
}


